@import url(./partials/calendario.css);
@import url(./partials/card-entrevistas.css);
@import url(./partials/layout-principal.css);
@import url(./partials/pagina-entrevistas.css);
@import url(./partials/responsividade.css);
@import url(./partials/sistema-abas.css);
@import url(./partials/modal.css);

@import url(../../../css/pages/empresa/partials/barra-lateral.css);
@import url(../../../css/pages/empresa/partials/submenu.css);
@import url(../../../css/pages/empresa/partials/conteudo-principal.css);
@import url(../../../css/pages/empresa/partials/notificacoes-popup.css);

@import url(../../global/normalize.css);
@import url(../../global/variables.css);
@import url(../../global/elements.css);

body { background-color: var(--background-color); color: var(--text-dark); }
a { text-decoration: none; color: inherit; }
ul { list-style: none; }
