@import url(./partials/barra-lateral-stats.css);
@import url(./partials/barra-lateral.css);
@import url(./partials/componentes.css);
@import url(./partials/conteudo-principal.css);
@import url(./partials/layout-principal.css);
@import url(./partials/responsividade.css);
@import url(./partials/submenu.css);
@import url(./partials/notificacoes-popup.css);

@import url(../../global/normalize.css);
@import url(../../global/variables.css);
@import url(../../global/elements.css);

body {
    background-color: var(--background-color);
    color: var(--text-dark);
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

