@import url('./partials/header.css');
@import url('./partials/heroSection.css');
@import url('./partials/heroCell.css');
@import url('./partials/main.css');
@import url('./partials/funcionalSection.css');
@import url('./partials/usuariosSections.css');
@import url('./partials/video.css');
@import url('./partials/depoimentos.css');
@import url('./partials/footer.css');
@import url('./partials/modal-login.css');
@import url('./partials/cards-flutuantes.css');
@import url('./partials/modal-videos.css');


@import url('../../global/elements.css');
@import url('../../global/normalize.css');

@import url('../../pages/ferramentas/partials/duvidas.css');

body.fade-out {
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.4,0,.2,1);
    pointer-events: none;
}