/*  Barra Lateral Esquerda (Sidebar) */
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.logo-icon {
    color: var(--white-color);
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 54px;
}

.logo-text {
    font-size: 1.2rem;
    font-weight: 700;
}

.sidebar-menu h3 {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-light);
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.9rem 1rem;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--text-light);
    transition: all 0.2s ease;
}

.menu-item:hover, .menu-item.active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.menu-item svg {
    width: 24px;
    height: 24px;
}

.sidebar-footer {
    margin-top: auto;
}