.menu-item-collapsible {
    padding: 0;
}

.menu-item-trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-main-link {
    display: flex;
    align-items: center;
    gap: 1rem; 
}
.chevron-icon {
    transition: transform 0.3s ease-in-out;
}

.menu-item-trigger.open .chevron-icon {
    transform: rotate(90deg);
}

.submenu {
    list-style: none;
    padding-left: 1.5rem;
    overflow: hidden;
    max-height: 0; 
    transition: max-height 0.4s ease-in-out;
}

.submenu.open {
    max-height: 200px;
}

.act {
    color: var(--primary-color);
}

.submenu-item {
    display: block;
    color: var(--text-light);
    padding: 0.75rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
    left: 24px; 
}

.submenu-item.active {
    color: var(--primary-color);
    font-weight: 600;
}


.submenu-item:hover {
    color: var(--primary-color);
}