@import url(./partials/content.css);
@import url(./partials/layout-principal.css);
@import url(./partials/responsividade.css);
@import url(./partials/painel-candidatos.css);

@import url(../../../css/pages/empresa/partials/barra-lateral.css);
@import url(../../../css/pages/empresa/partials/submenu.css);
@import url(../../../css/pages/empresa/partials/conteudo-principal.css);
@import url(../../../css/pages/empresa/partials/notificacoes-popup.css);

@import url(../../../css/global/elements.css);
@import url(../../../css/global/normalize.css);
@import url(../../../css/global/variables.css);

a { text-decoration: none; color: inherit; }
ul { list-style: none; }

body { background-color: var(--background-color); color: var(--text-dark);}