
.sidebar {
    padding: 40px 0;
}

.sidebar h3 {
    margin-bottom: 15px;
}

.sidebar ol {
    list-style: none;
    counter-reset: item;
}

.sidebar li {
    counter-increment: item;
    margin-bottom: 10px;
}

.sidebar li a {
    color: var(--black);
}

.sidebar li::before {
    content: counter(item, decimal-leading-zero);
    font-weight: bold;
    margin-right: 10px;
    color: #0077b6;
}
