.main-page{
    padding: min(30px, 7%);
  }
  .main-page p{
    color: var(--secondary-text-clr);
    margin: 0.26vw 0 0.781vw 0;

  }
  .container{
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 1.042vw;
    padding: min(3em, 15%);
  
    h2, p { margin-top: 1em }
  }

.services {
  margin-bottom: 6.25vw;
}