.main-section {
    width: 100%;
    height: 30.208vw;
    background-image: url(../../../../images/pages/main/backgroundBobble.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 6.25vw;
}

.main-content {
    height: auto;
}

.main-introducao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.main-btn {
    display: block;
    background: #ffffff00;
    box-shadow: 0 8px 32px 0 #0000002d;
    backdrop-filter: blur( 24.5px );
    -webkit-backdrop-filter: blur( 24.5px );
    border: solid 1.5px #7D7D7D;
    padding: 4px 6px;
    border-radius: 8px;
    color: black;
}

.icone-sparkle {
    width: 20px;
    height: 20px;
    opacity: 70%;
}

.main-data {
    font-size: 14px;
}

.main-title {
    font-size: 24px;
    font-weight: bold;
}

.main-search {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 50px;
}

.main-input {
    background: #ffffff00;
    box-shadow: 0 8px 32px 0 #0000002d;
    backdrop-filter: blur( 24.5px );
    -webkit-backdrop-filter: blur( 24.5px );
    width: 100%;
    height: 4.125vw;
    border-radius: 12px;
    border: solid 1px #838383;
}