.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 20px 0 20px;
    background: linear-gradient(145deg, #fff, #bdc5e6);
}

.heroSection input[type="email"]::placeholder {
    color: var(--gray-dark);
    opacity: 1;
    transition: color 0.3s;
}

.heroSection h1 {
    font-size: 2.5rem;
    max-width: 600px;
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--blue);
}

.heroSection p {
    max-width: 500px;
    color: var(--gray-dark);
    margin-bottom: 30px;
    font-size: 1.25rem;
}

.heroSection form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.heroSection input {
    padding: 12px 20px;
    border: 1px solid var(--gray);
    border-radius: 30px;
    min-width: 250px;
    outline: none;
}

.heroSection button {
    background: var(--primary);
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s;
}

.heroSection button:hover {
    background: #5848d0;
}

.heroSection img {
    max-width: 800px;
    margin-top: 40px;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .heroSection img {
        width: 100%;
    }    
}